# Ignorar arquivos compilados
*.class

# Ignorar pastas de build/output
/out/
/build/

# Ignorar configurações da IDE IntelliJ
.idea/
*.iml

# Ignorar arquivos temporários
*.log
*.tmp

# Ignorar arquivos do sistema
.DS_Store
Thumbs.db
